.chat {
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 0;
  gap: 1rem;
}

.chat-records {
  background-color: #141414;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  min-height: 0;
  overflow: auto;
  grid-row: 1;

  & > * {
    position: relative;
  }
}

.chat-record {
  display: flex;
  padding: 0.7rem 1rem;
  gap: 0.5rem;

  p {
    margin: 0;
  }
}

.chat-record-speaker {
  white-space: nowrap;
}

.chat-record-content {
  text-align: left;
}

.current-sentence {
  background-color: #141414;
  border-radius: 8px;
  overflow: hidden;
  min-height: 0;
  grid-row: 2;
}
