.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.item {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

button.item {
  background-color: #1a1a1a;
}

.header {
  grid-row: 1;
  grid-column: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  place-items: center;
}

.cta {
  grid-row: 1;
  grid-column: 2;
  aspect-ratio: 1;
}

.form {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.content {
  grid-row: 3;
  grid-column: 1 / span 2;
  min-height: 0;
}