.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #464646;
  border-radius: 8px;

  label {
    position: relative;
    width: 100%;
    overflow: hidden;

    span {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      transform-origin: left;
      padding: 0 0.5rem
    }

    input {
      width: 100%;
      min-height: 48px;
      border: none;
      border-radius: 8px;
      padding-left: 1rem;
    }

    input::placeholder {
      color: transparent;
    }
  }

  label:has(input:placeholder-shown):is(:hover, :focus-within),
  label:has(input:not(:placeholder-shown)) {
    span {
      animation: 0.4s ease-in-out moveLabel forwards normal;
    }
  }
}

@keyframes moveLabel {
  to {
    left: 0;
    transform: translate(-100%, -50%);
  }
}